<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FoodLoc</title>

    <link rel='stylesheet' type='text/css' href='~/bootstrap/css/bootstrap.min.css'>
    <link rel='stylesheet' type='text/css' href='~/css/animate.min.css'>
    <link rel='stylesheet' type='text/css' href='~/css/ionicons.min.css'>
    <link rel='stylesheet' type='text/css' href='~/css/linea.css'>
    <link rel='stylesheet' type='text/css' href='~/css/waves.min.css'>
    <link rel='stylesheet' type='text/css' href='~/css/owl.carousel.css'>
    <link rel='stylesheet' type='text/css' href='~/css/magnific-popup.css'>
    <link rel='stylesheet' type='text/css' href='~/css/style.css'>



    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src='~/js/jquery.magnific-popup.min.js' asp-append-version="true"></script>
    <script src='~/js/jquery.ajaxchimp.min.js' asp-append-version="true"></script>
    <script src='~/js/parallax.min.js' asp-append-version="true"></script>
    <script src='~/js/particles.min.js' asp-append-version="true"></script>
    <script src='~/js/waves.min.js' asp-append-version="true"></script>
    <script src='~/js/owl.carousel.min.js' asp-append-version="true"></script>
    <script src='~/js/wow.min.js' asp-append-version="true"></script>
    <script src='~/js/validator.min.js' asp-append-version="true"></script>
    <script src='~/js/smooth-scroll.min.js'></script>
    <script src='~/js/script.js'></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    @*<environment names="Development">
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
            <link rel="stylesheet" href="~/css/site.css" />
        </environment>
        <environment names="Staging,Production">
            <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
            <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        </environment>*@
</head>
<body>
    <!--======================================================
    Preloader
    ======================================================-->
    <div id='preloader'>
        <div class='loader'>
            <img src='~/img/loader.gif' alt>
        </div>
    </div>

    <!--======================================================
    Navbar
    ======================================================-->

    <nav class='navbar navbar-fixed-top'>
        <div class='container'>

            <div class='navbar-header'>

                <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#nav-collapse' aria-expanded='false'>
                    <span class='sr-only'>Toggle navigation</span>
                    <span class='icon-bar'></span>
                    <span class='icon-bar'></span>
                    <span class='icon-bar'></span>
                </button>

                <a href='/' class='navbar-brand'>
                    FoodLoc
                </a>

            </div>

            <div class='collapse navbar-collapse' id='nav-collapse'>

                <ul class='nav navbar-nav navbar-right'>

                    <li class='active'>
                        <a asp-controller="Home" asp-action="Index">Home</a>
                    </li>

                    <li>
                        <a asp-controller="Posts"
                           asp-action="Index">Food Around Me</a>

                    </li>
                    <li>
                        <a asp-controller="Posts"
                           asp-action="Create">Post Your own Food</a>
                    </li>

                    <li>
                        <a href='#contact' data-scroll>Contact</a>
                    </li>

                </ul>


            </div>
        </div>
    </nav>


    @RenderBody()
    <!--======================================================
        Footer
    ======================================================-->

    <footer>
        <div class='container'>
            <div class='row'>

                <div class='col-sm-6'>
                    <p class='wow fadeInLeft' data-wow-delay='.2s'>
                        &copy; 2017 Ariginine Software. All Rights Reserved.
                    </p>
                </div>

                <div class='col-sm-6'>

                    <!-- Footer Social Icons -->
                    <ul class='footer-social wow fadeInRight' data-wow-delay='.2s'>
                        <li>
                            <a href='#'>
                                <i class='ion-social-facebook'></i>
                            </a>
                        </li>
                        <li>
                            <a href='#'>
                                <i class='ion-social-twitter'></i>
                            </a>
                        </li>
                        <li>
                            <a href='#'>
                                <i class='ion-social-pinterest'></i>
                            </a>
                        </li>
                        <li>
                            <a href='#'>
                                <i class='ion-social-dribbble'></i>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </footer>

    @RenderSection("scripts", required: false)
</body>
</html>
